# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual environments
venv/
env/

# Generated data
data/cache/
data/processed/
data/raw/

# OS files
Thumbs.db
.DS_Store